fastapi==0.115.7
httpx==0.28.1
ipython==8.28.0
langgraph_checkpoint_sqlite
langchain==0.3.15
langchain_anthropic==0.3.4
langchain_community==0.3.15
langchain_core==0.3.31
langchain_google_genai==2.0.9
langchain_groq==0.2.3
langchain_milvus==0.1.8
langchain_mistralai==0.2.4
langchain_ollama==0.2.2
langchain_together
langchain_openai==0.3.2
langgraph==0.2.67
langsmith==0.3.1
milvus_model==0.2.11
polars==1.21.0
pydantic==2.10.6
pydantic_settings==2.7.1
pyexistdb==1.0.1
pymilvus==2.5.2
python-dotenv==1.0.1
streamlit==1.40.2
tiktoken==0.7.0
torch==2.3.1
tqdm==4.66.6
typing_extensions==4.12.2
uvicorn==0.34.0
vllm==0.8.4
